@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header>div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo {
  margin: 10px;
  padding: 5px;
  height: 40px;
}

#searchbar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

form.searchbar{
  display: flex;
  align-items: center;
  background-color: #dad6d6;
  padding: 6px;
  width: 400px;
  height:40px;
}

form img {
  height: 20px;
}

form input{
  width: 375px;
  margin-left: 8px;
  background: none;
  border: none;
}

form input:focus{
  outline:none;
}

.searchbutton{
  background-color: #f4171f;
  color: white;
  padding: 20px;
}

div > a{
  text-decoration: none;
  color: black;
}

.joinbutton{
  border: 1px solid grey;
  padding: 5px 10px;
  margin: 20px;
  color:black;
 }